*{
    box-sizing: border-box;
    font-family: 游明朝 Medium;
}
body{
    margin: 0;
}
a{
    color: black;
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    transition:all 0.5s;
}
/*---------------ヘッダー設定ここから---------------*/
header{
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    text-align: center;/*サイトタイトルを真ん中に*/
    flex-direction: column;/*h1とnavを上から下に並べる*/
}
a.top::before{
    content: "";
    display: inline-block;
    background-image: url(/images/bird-icon.png);
    background-size: contain;
    height: 15px;
    width: 15px;
    line-height: 15px;
}

header ul{
    display: flex;
    justify-content: space-around;/*ulを均等に横並び*/
}
header li:hover{
    background-color: rgb(210, 205, 200);
}
nav a{
    display: inline-block;
    padding: 10px 25px;
}
/*---------------ヘッダー設定ここまで---------------*/
/*---------------メイン設定ここから---------------*/
h1{
    font-size: 30px;
    margin: 6% 0 0 0;
    text-align: center;
}
h1::before{
    content: "";
    display: inline-block;
    background-image: url(/images/bird-icon.png);
    height: 30px;
    width: 30px;
    background-size: contain;
    line-height: 30px;
}
h1::after{
    content: "自己紹介";
    font-size: 15px;
    display: block;
}
h2{
    font-size: 25px;
    margin: 30px 0;
}
h2.profile::after{
    content: "基本情報";
    font-size: 15px;
    display: block;
}
h2.workhistory::after{
    content: "職務経歴";
    font-size: 15px;
    display: block;
}
h2.learningduration::after{
    content: "学習期間";
    font-size: 15px;
    display: block;
}
h2.selfpromotion::after{
    content: "自己PR";
    font-size: 15px;
    display: block;
}
.profile-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}
.profile-left{
    width: 50%;
    margin: 0 20px;
    text-align: center;
}
.profile-right{
    width: 50%;
    margin: 0 20px;
}
img{
    height: 300px;
    width: 300px;
    box-shadow: 50px 50px rgb(235, 205, 220);
}
dl{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
dt{
    width: 20%;
}
dd{
    width: 80%;
    margin: 0;
}
.pr-wrapper{
    text-align: center;
    margin: 120px 0;
}
.promotion-items{
    display: flex;
    justify-content: space-around;
    text-align: left;
}
h3{
    text-align: center;
}
.promotion-item{
    width: 30%;
}
/*---------------メイン設定ここまで---------------*/
/*---------------フッター設定ここから---------------*/
footer{
    border-top: 1px solid black;
    background-color: rgb(235, 205, 220);
    display: flex;
    padding: 20px 80px;
}
footer h4{
    margin-right: auto;
}
footer ul{
    margin-left: auto;
}
footer a:hover{
    text-decoration: underline;
    transition:all 0.5s;/*←効かない！*/
}
/*---------------フッター設定ここまで---------------*/