*{
    box-sizing: border-box;
    font-family: 游明朝 Medium;
    color: #4C3949;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    transition:all 0.5s;
}
/*---------------ヘッダー設定ここから---------------*/
header{
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    text-align: center;/*サイトタイトルを真ん中に*/
    flex-direction: column;/*h1とnavを上から下に並べる*/
}
a.sitename{
    margin: 0;
    padding: 3px;
}
a.sitename::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/images/bird-icon.png);
    background-size: contain;
    line-height: 20px;
}
nav ul{
    display: flex;
    justify-content: space-around;/*ulを均等に横並び*/
}
nav li:hover{
    background-color: #CB7E8C;
}
nav a{
    display: inline-block;
    padding: 3px 60px;
}
/*----------スマホ用サイトメニュー設定ここから----------*/
/*メニューアイコン設定*/
#menu-icon-check{/*チェックボックスを非表示*/
    display: none;
}
.menu-icon{
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;/*押下範囲拡張*/
    width: 60px;/*押下範囲拡張*/
    display: none;/*通常非表示,表示時flexで中央寄せ*/
    justify-content: center;/*spanを中央寄せ*/
    align-items: center;/*spanを中央寄せ*/
    z-index: 20;
}
.menu-icon span,
.menu-icon span::before,
.menu-icon span::after{
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    background-color: #CB7E8C;
    border-radius: 3px;
    position: absolute;/*spanをbefore,afterの起点とする*/
    transition: all 0.5s;
}
.menu-icon span::before{
    bottom: 8px;/*spanを起点に下に8px*/
    background-color: #4C3949;
}
.menu-icon span::after{
    top: 8px;/*spanを起点に上に8px*/
    background-color: #4C3949;
}
#menu-icon-check:checked~.menu-icon span{
    background-color: rgba(255,255,255,0);/*クリック時透明*/
}
#menu-icon-check:checked~.menu-icon span::before{
    bottom: 0;
    transform: rotate(45deg);/*45度傾ける*/
}
#menu-icon-check:checked~.menu-icon span::after{
    top: 0;
    transform: rotate(-45deg);/*45度傾ける*/
}
/*メニューリスト設定*/
#menu-icon-check:checked~.menu-list {
    bottom: 0;/*クリック時メニュー表示*/
}
.menu-list{
    background-color: rgba(239,225,234,0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 100%;/*画面外へ*/
    left: 0;
    z-index: 15;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.menu-list li{
    width: 100%;
}
.menu-list li:hover{
    background-color: #CB7E8C;
}
.menu-list a{
    display: inline-block;
    width: 100%;
    padding: 10vh 0;
}
/*---------------ヘッダー設定ここまで---------------*/
/*---------------メイン設定ここから---------------*/
.works-page{
    width: 100%;
    padding: 60px;
    text-align: center;
}
.works-responsive-image{
    position: relative;
}
.works-design-item{
    background-color: #EFE1EA;
    border-radius: 70% 30% 70% 30%;
    height: 400px;
    width: 800px;
    position: absolute;
    z-index: -1;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.works-responsive-image img{
    width: 900px;
}
.works-text{
    padding: 80px 0;
}
h1{
    padding: 0;
    font-size: 30px;
    position: relative;
}
h1::before{
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;    
    border-bottom: 3px solid #CB7E8C;
}
h1::after{
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    border-bottom: 3px solid #4C3949;
}
p{
    font-size: 16px;
    margin: 0;
}
dl{
    display: flex;
    width: 70vw;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid #4C3949;
    border-bottom: none;
}
dt{
    width: 15%;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #4C3949;
    border-right: 1px solid #4C3949;
    background-color: #EFE1EA;
}
dd{
    width: 85%;
    margin: 0;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #4C3949;
}
h2{
    padding: 0;
    font-size: 20px;
    position: relative;
}
h2::before{
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 0;    
    border-bottom: 1px solid #CB7E8C;
}
h2::after{
    content: '';
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #4C3949;
}
.works-images{
    display: flex;
    justify-content: space-around;
}
.works-images img{
    width: 100%;
}
.works-main-image{
    width: 50%;
    padding: 0 1vw 0 4vw;
}
.works-other-image{
    width: 50%;
    padding: 0 4vw 0 1vw;
}
/*---------------メイン設定ここまで---------------*/
/*---------------フッター設定ここから---------------*/
footer{
    background-color: #EFE1EA;
    display: flex;
    padding: 20px 80px;
}
footer ul{
    margin-left: auto;
}
footer li:hover{
    background-color: #CB7E8C;
}
footer a{
    padding: 5px 40px;
}
/*---------------フッター設定ここまで---------------*/